<link rel="stylesheet" type="text/css" href="/css/tasks.css">
<div class="container-tasks {{#if darkMode}}dark-mode{{/if}}">
    <h3 class="filter-heading">Filter Options:</h3>
    <div class="filter-container">
        <div class="filter-toggle">
            <form action="/sort" method="get">
                <input type="hidden" name="orderBy" value="dueDate">
                <input type="hidden" name="direction" value="{{sortDirection.orderDirection}}">
                <button id="sortButtonDueDate" class="sort-button" aria-expanded="false">
                    Due Date
                    <span class="{{#if_eq sortDirection.orderBy 'dueDate'}}{{#if_eq sortDirection.orderDirection '-1'}}arrow-icon-up{{else}}arrow-icon-down{{/if_eq}}{{else}}arrow-icon-down{{/if_eq}}"></span>
                </button>
            </form>
            <form action="/sort" method="get">
                <input type="hidden" name="orderBy" value="creationDate">
                <input type="hidden" name="direction" value="{{sortDirection.orderDirection}}">
                <button id="sortButtonCreationDate" class="sort-button" aria-expanded="false">
                    Creation Date
                    <span class="{{#if_eq sortDirection.orderBy 'creationDate'}}{{#if_eq sortDirection.orderDirection '-1'}}arrow-icon-up{{else}}arrow-icon-down{{/if_eq}}{{else}}arrow-icon-down{{/if_eq}}"></span>
                </button>
            </form>
            <form action="/sort" method="get">
                <input type="hidden" name="orderBy" value="importance">
                <input type="hidden" name="direction" value="{{sortDirection.orderDirection}}">
                <button id="sortButtonImportant" class="sort-button" aria-expanded="false">
                    Importance
                    <span class="{{#if_eq sortDirection.orderBy 'importance'}}{{#if_eq sortDirection.orderDirection '-1'}}arrow-icon-up{{else}}arrow-icon-down{{/if_eq}}{{else}}arrow-icon-down{{/if_eq}}"></span>
                </button>
            </form>
            <form action="/sort" method="get">
                <input type="hidden" name="orderBy" value="title">
                <input type="hidden" name="direction" value="{{sortDirection.orderDirection}}">
                <button id="sortButtonTitle" class="sort-button" aria-expanded="false">
                    Title
                    <span class="{{#if_eq sortDirection.orderBy 'title'}}{{#if_eq sortDirection.orderDirection '-1'}}arrow-icon-up{{else}}arrow-icon-down{{/if_eq}}{{else}}arrow-icon-down{{/if_eq}}"></span>
                </button>
            </form>
            <form action="/filter" method="post">
                <button id="sortButtonCompleted" class="sort-button" aria-expanded="false">
                    Completed
                </button>
            </form>
            <form action="/dark-mode" method="post">
                    <button id="darkModeButton" class="sort-button" aria-expanded="false">
                    Toggle Dark Mode
                </button>
            </form>
        </div>
    </div>

    <form action="/new" method="get">
        <button id="newTask" class="new-task-button" aria-expanded="false">
            &#x2795; New Task
        </button>
    </form>

    {{#if tasks.length}}
        <h2>All Tasks:</h2>
        <ul>
            {{#each tasks}}
                <li>
                    <div class="task">
                        <span class="task-date">{{this.dueDate}}</span>
                        <span class="task-title">{{this.title}}</span>
                        <span class="task-description">{{this.description}}</span>
                        <span class="task-importance">
                            {{#times this.importance}}
                                <span class="flash-symbol">⚡</span>
                            {{/times}}
                        </span>
                        <label class="{{#if_eq this.completed 'on'}}red-text{{else}}black-text{{/if_eq}}">
                            {{#if_eq this.completed 'DONE'}}closed{{else}}open{{/if_eq}}
                        </label>
                        <form action="/{{this._id}}/edit" method="get" class="task-edit-button">
                            <button type="submit">Edit</button>
                        </form>
                        <form action="/{{this._id}}/delete" method="post" class="task-delete-button">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No tasks found.</p>
    {{/if}}
</div>
